.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
    , url(montenegro/slika2.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
    cursor: pointer;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.logo {
    width: 50px;
    cursor: pointer;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    flex-basis: 50%;
}
h1 {
    color: white;
    font-size: 100px;
}
p {
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
}
.card1 {
    background-image: url(montenegro/SkadarLake.jpg);
}
.card2 {
    background-image: url(montenegro/lovcenPic.jpg);
}
.card3 {
    background-image: url(montenegro/crnoJezero.jpg);
}
.card4 {
    background-image: url(montenegro/slika4.jpg);
}
.card:hover {
    transform: translateY(-10px);
}
h5 {
    color: black;
    font-weight: bolder;
    text-shadow:  0 0 5px #999;
}
.card p {
    color: black;
    font-weight: bolder;
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

/*****MOBILE DEVICES****/
@media (max-width: 768px) {
    .navbar {
        height: 12%;
        display: flex;
        align-items: center;
    }
    h1 {
        color: white;
        font-size: 50px;
    }
    .container {
        height: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
        margin-top: 50%;
    }
    button {
        display: none;
    }
    col p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    nav {
        flex: 1;
        text-align: right;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        margin-left: 60px;
    }
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 13px;
    }
    
}
